body {
    background: #EFEFEF;
    height: 2000px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

[data-x].active {
    border: 10px solid red;
}

[data-x] {
    transition: all 0.5s;
    transform: translateY(0);
}

[data-x].offset {
    transition: all 0s;
    transform: translateY(100px);
}


/* logo和nav部分 */


/* logo和nav部分 */


/* logo和nav部分 */


/* logo和nav部分 */


/* logo和nav部分 */


/* logo和nav部分 */

.logoAndNav {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 20px 0;
}

.logoAndNav {
    .logo {
        padding-top: 3px;
        padding-bottom: 4px;
        font-size: 24px;
        font-family: 'Arial Black';
        float: left;
        color: #E6686A;
        .card {
            color: #9A9DA2;
            margin-left: 12px;
        }
    }
}

.logoAndNav .logoAndNav-inner {
    padding: 0 16px;
}

.logoAndNav .nav {
    padding-top: 7px;
    float: right;
    font-size: 12px;
}

.logoAndNav .nav li {
    float: left;
    margin: 0 17px;
    position: relative;
}

.logoAndNav .nav li a {
    display: block;
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    color: inherit;
    position: relative;
}

.logoAndNav .submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}

.logoAndNav li.active>.submenu {
    display: block;
    animation: submenuSlide 0.2s;
}

@keyframes submenuSlide {
    0% {
        margin-right: 100%;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

.logoAndNav .submenu li {
    margin: 5px 0;
    white-space: nowrap;
}

.logoAndNav .nav li.active>a::after,
.logoAndNav .nav li.highLight>a::after {
    /* border-bottom: 3px solid #E06567; */
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #E06567;
    animation: menuSlide 0.2s;
}

@keyframes menuSlide {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/* navLog的sticky */

.logoAndNav {
    color: #B7B7B7;
    transition: all 0.3s;
}

.logoAndNav.sticky {
    background: white;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    padding: 10px 0;
    color: #3D4451;
}


/* main部分 */


/* main部分 */


/* main部分 */


/* main部分 */


/* main部分 */


/* main部分 */


/* main部分 */


/* main部分 */

.banner {
    background: url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
    height: 520px;
}

.banner .mask {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
}


/* card部分 */


/* card部分 */


/* card部分 */

.userCard {
    width: 960px;
    margin: 0 auto;
    background: white;
    margin-top: -340px;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.imgAndAvatar {
    padding: 50px;
}

.imgAndAvatar .avatar {
    float: left;
}

.imgAndAvatar .text {
    float: left;
    width: 470px;
    margin-left: 65px;
}

.imgAndAvatar .text .hello {
    background: #E06567;
    position: relative;
    color: white;
    padding: 4px 16px;
}

.imgAndAvatar .text .hello::after {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-top: 0;
    border-left: 10px solid #E06567;
    left: 5px;
    top: 100%;
}

.imgAndAvatar .text dt {
    width: 30%;
    font-weight: bold;
    float: left;
    padding: 5px 0;
}

.imgAndAvatar .text dd {
    width: 70%;
    float: left;
    color: #9DA0A7;
    padding: 6px 0 5px 0;
}

.imgAndAvatar .text h1 {
    margin-top: 30px;
}

.imgAndAvatar .text hr {
    margin: 20px 0;
}

footer.media {
    background: #E6686A;
    text-align: center;
}

footer.media a {
    margin: 16px;
    display: inline-block;
    padding: 8px;
}

footer.media a:hover {
    border-radius: 100%;
    background: #CF5D5F;
}

footer.media a svg {
    fill: white;
    height: 30px;
    width: 30px;
}

main .downloadResume {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border-radius: 2px;
    font-weight: bold;
    color: #6A6C73;
    border: 1px solid #D4D3D4;
    margin: 32px 0;
    transition: box-shadow 0.1s;
}

main .downloadResume:hover {
    box-shadow: -1px 5px 14px 0px rgba(50, 50, 50, 0.2);
}

main .contain {
    text-align: center;
}

main .selfIntroduction {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    font-family: kai;
    color: #434753;
}

.skills,
.portfolio {
    color: #434753;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}

.skills .skills-ol {
    margin-top: 30px;
    padding: 42px 50px 10px;
    background: white;
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}

.message h2,
.skills h2,
.portfolio h2 {
    text-align: center;
    color: #434753;
}

.skills .skills-ol li .prograssBar {
    overflow: hidden;
    height: 3px;
    background: #FEE4E0;
    margin: 4px 0;
}

.skills .skills-ol .prograss {
    transition: all 1s;
    transform: translateX(0);
    height: 100%;
    background: #E97669;
    width: 70%;
}

.skills .skills-ol li {
    width: 48%;
    float: left;
    margin-bottom: 40px;
}

.skills .skills-ol li:nth-child(odd) {
    float: right;
}

section.skills.offset .prograss {
    transform: translateX(-100%);
}

.portfolio {
    margin-bottom: 100px;
    text-align: center;
}

.portfolio nav {
    margin-top: 32px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.portfolio nav ol {
    display: inline-block;
    vertical-align: top;
}

.portfolio nav li {
    font-weight: bold;
    float: left;
    margin-left: 32px;
    cursor: pointer;
}

.portfolio nav li:first-child {
    margin-left: 0;
}

.portfolio nav .bar {
    height: 5px;
    background: white;
}

.portfolio nav .bar .bar-inner {
    height: 100%;
    background: #E06567;
    transition: all 0.3s;
}

.portfolio nav .bar.state-1 .bar-inner {
    width: 50px;
    margin-left: 0;
}

.portfolio nav .bar.state-2 .bar-inner {
    width: 50px;
    margin-left: 65px;
}

.portfolio nav .bar.state-3 .bar-inner {
    width: 90px;
    margin-left: 135px;
}

.portfolio .works {
    height: 597px;
    margin-top: 30px;
    position: relative;
}

.portfolio .works div {
    position: absolute;
}

.portfolio .works div img {
    border-radius: 10px;
    vertical-align: top;
}

.portfolio .works .small1 {
    top: 0;
    right: 0;
}

.portfolio .works .small2 {
    bottom: 0;
    right: 0;
}

.portfolio .swiper-container {
    width: 800px;
    height: 460px;
}

.portfolio .swiper-slide {
    background: #ccc;
}

.portfolio h2 {
    margin-bottom: 28px;
}


/* .portfolio .wrap {
    position: absolute;
    background: white;
    height: 44px;
    width: 44px;
    border-radius: 50%;
} */

.portfolio .swiper-button-prev,
.portfolio .swiper-button-next {
    height: 64px;
    width: 64px;
    right: 100%;
    left: auto;
}

.portfolio .swiper-button-next {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    left: 100%;
    right: auto;
}

.loading {
    height: 200px;
    width: 200px;
    position: relative;
}

.siteWelcom {
    display: flex;
    background: #9DA0A7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.siteWelcom.active {
    display: flex;
}

.siteWelcom.unactive {
    display: none;
}


/* 留言板部分 */

section.message>ol {
    width: 700px;
    margin: 0 auto;
    border-top: 1px solid red;
}

section.message>ol>li {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}


/* 页面加载动画部分 */


/* 页面加载动画部分 */


/* 页面加载动画部分 */


/* 页面加载动画部分 */


/* 页面加载动画部分 */


/* 页面加载动画部分 */

.loading::before,
.loading::after {
    content: '';
    position: absolute;
    background: black;
    border-radius: 50%;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: an 2s linear infinite;
}

.loading::after {
    animation-delay: 1s;
}

@keyframes an {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}